html {
	font-family: Montserrat;
}

/* SaleProject */
h1 {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
}
.sale {
	color: #E4001B;
}
.project {
	color: #6194BC;
}

.box {
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
}

/* What */
h2 {
	margin-top: 35px;
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 23px;
}

/* Hi */
.hi {
	float: right;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 10% 20px 10%;
}
.hi p {
	margin-bottom: 0px;
}
.logout {
	font-size: 80%;
	margin-top: 0px;
	color: #E4001B;
	cursor: pointer;
}
.logout a {
	color: #E4001B;
	text-decoration: none;
}

/* list */
.menu {
	margin-left: 10%;
	margin-right: 10%;
	clear: right;
	text-align: center;
	width: 90%;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-bottom: 50px;
}
li {
    float: left;
    width: 17.5%;
    border: 1px solid black;
}
li a {
    display: block;
    color: black;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
}
li a:hover {
    background-color: #6194BC;
    color: white;
}
.active {
	background-color: #6194BC;
    color: white;
}

/* Item */
.item {
	clear: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	margin-bottom: 100px;
}
.item .item-photo {
	margin: 10px 10px;
	float : left;
	width: 15%;
}
.item .item-img {
	width: 80px;
	height: 80px;
	border: 1px solid;
	border-color: #ECECEC; 
}
.item .item-desc {
	margin: 0px 3%;
	float: left;
	width: 45%;
}
.item .item-desc .name {
	font-size: 160%;
	font-weight: bold;
}
.item .item-desc .price {
	font-size: 130%;
}
.item .item-edit {
	float: right;
	width: 20%;
	margin: 10px 5%;
}
.item .bought-by {
	clear: left;
}